*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-size: 16;
}


/* Header w/ Back Button */

header {
  height: 65px;
  width: 375px;
  background-color: #00484E;
  color: #ffffff;
  margin: auto;
}

img {
  position: relative;
  float: left;
}

.backbutton {
  margin-top: 10px;
  margin-left: 10px;
}

h1 {
  margin: 0px 0px 0px 70px;
  padding-top: 30px;
  font-style: bold;
  font-size: 1.3em;
  letter-spacing: 1px;
}


/* Container */

main {
  display: block;
  width: 375px;
  height: 812px;
  margin: -16px auto auto auto;
}


/* Map */

.map {
  float: left;
  padding-top: 5px;
}


/* Headings "Upcoming Buses" and "Arrival" */

.headings {
  float: left;
  height: 35px;
  width: inherit;
  font-style: italic;
  color: #00484E;
  border-bottom: .5px solid #95C3C7;
}

.upcoming {
  float: left;
  margin-left: -5px;
  margin-top: -8px;
}

.arrival {
  float: left;
  margin-left: 95px;
  margin-top: -8px;
}


/* Box heighst and widths within <main> */

.box {
  float: left;
  height: 63px;
  width: 375px;
}


/* Bus Number/Line text */

h2 {
  float: left;
  font-size: 1.5em;
  font-weight: bolder;
  margin: 15px 0px 13px 32px;
  width: 13%;
  color: #00484E;
}


/* Destination and Direction text */

.dest-and-dir {
  float: left;
  position: relative;
  width: 42%;
  font-size: 1em;
  color: #00484E;
  margin: 10px 10px 11px 0px;
  padding-left: 5px;
}

.destination {
  display: block;
}

.direction {
  display: block;
}


/* Arrival times and minutes until arrival */

.times {
  float: left;
  position: relative;
  color: #00484E;
  margin: 6px 0px;
  width: 22%;
  padding-left: 0px;
}


/* Minutes text */

.minutes {
  display: block;
  font-size: 1.4em;
  font-weight: 600;
}


/* Time text */

.time {
  display: block;
  font-size: 1em;
  margin-top: -4px;
  margin-bottom: 0px;
}


/* Resumes text */

.resumes {
  font-size: 1.1em;
  margin-top: 3px;
  margin-bottom: 4px;
}


/*  Ellipses */

.ellipses {
  float: right;
  margin: 27px 12px;
  width: 5%;
}


/* Box 1, 3, 5, 7, 9 Gray Colored Boxes */

#box1, #box3, #box5, #box7, #box9 {
  background-color: #f7f7f7;
}


/* Box 4 Specific (highlighted box) */

#box4 {
  background-color: #00484E;
}

#triangle {
  margin: 20px 0px 20px 10px;
}

#yourline, #destination-4, #direction-4, #minutes-4, #time-4 {
  color: white;
}

#yourline {
  margin-left: 2px;
}

#destination-4, #direction-4 {
  margin-left: 3px;
}

#minutes-4, #time-4 {
  margin-left: 5px;
}
