*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-size: 16;
}

.container {
  display: block;
  width: 375px;
  height: 602px;
  margin: 0 auto;
}


/* Header w/ Back Button */

header {
  height: 65px;
  width: 375px;
  background-color: #00484E;
  color: #ffffff;
  margin: auto;
}

img {
  position: relative;
  float: left;
}

.backbutton {
  margin-top: 10px;
  margin-left: 10px;
}

h1 {
  margin: 0px 0px 0px 70px;
  padding-top: 30px;
  font-style: bold;
  font-size: 1.3em;
  letter-spacing: 1px;
}

/* Headings "Upcoming Buses" and "Arrival" */

.headings {
  height: 35px;
  font-style: italic;
  color: #00484E;
  border-bottom: .5px solid #95C3C7;
  margin-top: -16px;
}

.upcoming {
  float: left;
  margin-top: 6px;
  margin-left: -25px;
}

.arrival {
  float: left;
  margin-top: 6px;
  margin-left: 115px;
}



/* Box heighst and widths within <main> */

.box {
  height: 63px;
  width: inherit;
}


/* Destination and Direction text */

.dest-and-dir {
  float: left;
  position: relative;
  font-size: 1em;
  color: #00484E;
  margin: 0px auto;
  padding-left: 0px;
}


/* Bus Number/Line text */

h2 {
  float: left;
  font-size: 1.5em;
  font-weight: bolder;
  margin: 15px 10px 13px 15px;
  color: #00484E;
}


/* Arrival times and minutes until arrival */

.times {
  float: left;
  position: relative;
  color: #00484E;
  margin: 0px auto;
  padding-left: 0px;
}


/* Minutes text */

.minutes {
  font-size: 1.4em;
  font-weight: 600;
}


/* Time text */

.time {
  font-size: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Resumes text */

.resumes {
  font-size: 1.1em;
}

/*  Ellipses */

.ellipses {
  float: right;
}



/* Box 1 Specific */

#box1 {
  background-color: #f7f7f7;
}

.destination {
  margin: 8px 0px 0px 12px;
}

.direction {
  margin: 4px 0px 5px 12px;
}

#minutes-1 {
  margin: 4px 0px 0px 93px;
}

#time-1 {
  margin: 0px 0px 0px 95px;
}

#ellipses-1 {
  margin: 27px 15px 27px 0px;
}


/* Box 2 Specific*/

#minutes-2 {
  margin: 4px 0px 0px 81px;
}

#time-2 {
  margin: 0px 0px 0px 83px;
}

#ellipses-2 {
  margin: 27px 15px 27px 0px;
}


/* Box 3 Specific */

#box3 {
  background-color: #f7f7f7;
}

#destination-3 {
  margin: 8px 0px 0px 17px;
}

#direction-3 {
  margin: 4px 0px 5px 17px;
}

#minutes-3 {
  margin: 4px 0px 0px 26px;
}

#time-3 {
  margin: 0px 0px 0px 28px;
}

#ellipses-3 {
  margin: 27px 15px 27px 0px;
}


/* Box 4 Specific*/

#destination-4 {
  margin: 8px 0px 0px 10px;
}

#direction-4 {
  margin: 4px 0px 5px 10px;
}

#minutes-4 {
  margin: 4px 0px 0px 83px;
}

#time-4 {
  margin: 0px 0px 0px 85px;
}

#ellipses-4 {
  margin: 27px 15px 27px 0px;
}


/* Box 5 Specific */

#box5 {
  background-color: #f7f7f7;
}

#destination-5 {
  margin: 8px 0px 0px 24px;
}

#direction-5 {
  margin: 4px 0px 5px 24px;
}

#minutes-5 {
  margin: 4px 0px 0px 22px;
}

#time-5 {
  margin: 0px 0px 0px 23px;
}

#ellipses-5 {
  margin: 27px 15px 27px;
}


/* Box 6 Specific*/

#destination-6 {
  margin: 8px 0px 0px 22px;
}

#direction-6 {
  margin: 4px 0px 5px 22px;
  font-style: italic;
}

#minutes-6 {
  margin: 4px 0px 0px 19px;
}

#time-6 {
  margin: 0px 0px 0px 20px;
}

#ellipses-6 {
  margin: 27px 15px 27px;
}


/* Box 7 Specific */

#box7 {
  background-color: #f7f7f7;
}

#destination-7 {
  margin: 8px 0px 0px 35px;
}

#direction-7 {
  margin: 4px 0px 5px 35px;
  font-style: italic;
}

#resumes-1 {
  margin: 7px 0px 0px 70px;
}

#time-7 {
  margin: 3px 0px 0px 70px;
}

#ellipses-7 {
  margin: 27px 15px 27px 0px;
}


/* Box 8 Specific*/

#destination-8 {
  margin: 8px 0px 0px 21px;
}

#direction-8 {
  margin: 4px 0px 5px 21px;
  font-style: italic;
}

#resumes-2 {
  margin: 7px 0px 0px 71px;
}

#time-8 {
  margin: 3px 0px 0px 71px;
}

#ellipses-8 {
  margin: 27px 15px 27px 0px;
}


/* Box 9 Specific */

#box9 {
  background-color: #f7f7f7;
}

#destination-9 {
  margin: 8px 0px 0px 6px;
}

#direction-9 {
  margin: 4px 0px 5px 6px;
  font-style: italic;
}

#resumes-3 {
  margin: 7px 0px 0px 38px;
}

#time-9 {
  margin: 3px 0px 0px 39px;
}

#ellipses-9 {
  margin: 27px 15px 27px 0px;
}
